{% extends 'base.html' %}

{% block title %} {{event.name}} {% endblock title %}

{% block content %}

<h2>{{event.name}}</h3>
{% if user not in event.participants.all %}
<a href="{% url 'confirm-event' event.id %}">Register for event</a>
{% else %}

<form  method="POST">
    {% csrf_token %}
    <input type="submit" value="Cancel registration">
</form>
{% endif %}

<a href="{% url 'project-submission' event.id %}">Submit a project</a>

<p>{{event.description}}</p>

<div>
    <h3>Event Participants</h3>
        <h4>Number of participants: {{event.participants.all.count}}</h4>
    {% for p in event.participants.all %}

    <li>{{p}}</li>
    {% endfor %}
    
</div>

{% endblock content %}