{% extends 'base.html' %}


{% block title %} Home {% endblock title %}

{% block content %}
    <section>
        <h3>Events</h3>
        <div class="event-list">
            {% for event in events %}
                <div class="event-wrapper">
                <a href="{{event.get_absolute_url}}"><strong>{{event.name}}</strong>
                <p>{{event.participants.all.count}} registers</p>
                <p>Registration deadline: {{event.registration_deadline}}</p>
            </a>
                </div>

            {% endfor %}
        </div>
    </section>

    <section class="section">
        <h4>Users</h4>
        <div class="users-list section">
            {% for user in users %}
                <div class="user-wrapper">
                    <img src="{{user.avatar.url}}" class="avatar" alt="{{user.name}}">
                <h4>{{user.name}}</h4>
                 <a href="{% url 'user-profile' user.id %}"><i>view profile</i></a>
                </div>

            {% endfor %}
        </div>
    </section>

    
    
    
{% endblock content %}