{% extends 'base.html' %}


{% block title %} Home {% endblock title %}

{% block content %}
    <section>
        <h3>Events</h3>
        <div class="event-list">
            {% for event in events %}
                <div>
                <a href="{{event.get_absolute_url}}">{{event.name}}</a>
                </div>

            {% endfor %}
        </div>
    </section>

    <section>
        <h3>Users</h3>
        <div class="users-list">
            {% for user in users %}
                <div>
                {{user.name}}
                </div>

            {% endfor %}
        </div>
    </section>

    
    
    
{% endblock content %}