{% extends 'base.html' %}


{% block title %} My account {% endblock title %}

{% block content %}

<div class="section">
    <h1>My account</h1>

    {% if user.avatar %}
        <img class="avatar-lg" src="{{user.avatar.url}}" alt="">

    {% endif %}
    <a href="{% url 'edit-account' %}" class="btn btn-warning">edit</a>
    <a href="#" class="btn btn-warning">reset password</a>
</div>


<div class="section">
    <h4>My Events</h4>
    {% for e in user.events.all %}
    <a href="{% url 'event' e.id %}">{{e.name}}</a><br>

    {% empty %}
   <p>You have not registered for any event!</p>
    {% endfor %}
    
</div>

<div class="section">
    <h4>Projects submitted</h4>
    {{submissions}}
    {% for sub in user.submissions.all %}
    <a href="{% url 'update-submission' sub.id %}">{{sub.event.name}}</a><br>

    {% empty %}
    <p>You haven't made any project submission yet!</p>
    {% endfor %}
    
</div>


{% endblock content %}