{% extends 'base.html' %}


{% block title %} My account {% endblock title %}

{% block content %}


<h2>Hi {{user}}, you are authenticated</h2>
<div>
    <h4>Events you are participating</h4>
    {% for e in user.events.all %}
    <a href="{% url 'event' e.id %}">{{e.name}}</a><br>
    {% endfor %}
    
</div>

<div>
    <h4>Projects submitted</h4>
    {{submissions}}
    {% for sub in user.submissions.all %}
    <a href="{% url 'update-submission' sub.id %}">{{sub.event.name}}</a><br>
    {% endfor %}
    
</div>


{% endblock content %}