{% extends 'base.html' %}


{% block title %} My account {% endblock title %}

{% block content %}


<h3>My Account</h3>
<div class="section">
    <h4>My Events</h4>
    {% for e in user.events.all %}
    <a href="{% url 'event' e.id %}">{{e.name}}</a><br>
    {% endfor %}
    
</div>

<div class="section">
    <h4>Projects submitted</h4>
    {{submissions}}
    {% for sub in user.submissions.all %}
    <a href="{% url 'update-submission' sub.id %}">{{sub.event.name}}</a><br>
    {% endfor %}
    
</div>


{% endblock content %}