{% extends 'base.html' %}

{% block title %} Login {% endblock title %}

{% block content %}

<div class="login-register-container">
{% if page == "login" %}
<h1>Login Page</h1>

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}

<div>
    <label for="email">Email</label>
    <input type="email"  name="email" required>
</div>
<div>
    <label for="password">Password</label>
    <input type="password" name="password" required>
</div>

{% if request.GET.next %}
<!-- To redirect to previous page after login -->
<input type="hidden" value="{{request.GET.next}}" name="next">
{% endif %}

<div>
    <input type="submit" value="Login">
</div>
<p>don't have an account ? <a href="{% url 'register' %}">Signup for new account</a></p>
</form>

{% elif page == "register" %}
<h1>User Registration </h1>
<form action="" method="post" enctype="multipart/form-data">
    {%csrf_token%}
  
    {% for field in form %}
    

  <div class="form-field">
    
    <!-- changes the outline of the input field when there's error -->
    {{field.label_tag}}  <p class="field {% if field.errors %} error-indicator {% endif %}">{{field}}</p>
    
    {% for error in field.errors %}
    <p class="errorlist"> {{error}}</p>
    {% endfor %}
  </div>
    {% endfor %}

    <div>
        
    </div>
    
   <input type="submit" value="Sign Up">
</form>

</div>
{% else %}
<h2>how did You get here?</h2>
{% endif %}

{% endblock %}
    