{% extends 'base.html' %}

{% block title %} Login {% endblock title %}

{% block content %}

{% if page == "login" %}
<h1>Login Page</h1>

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}

<div>
    <label for="email">Email</label>
    <input type="email"  name="email" required>
</div>
<div>
    <label for="password">Password</label>
    <input type="password" name="password" required>
</div>

{% if request.GET.next %}
<!-- To redirect to previous page after login -->
<input type="hidden" value="{{request.GET.next}}" name="next">
{% endif %}

<div>
    <input type="submit" value="Login">
</div>
<p>don't have an account ? <a href="{% url 'register' %}">Signup for new account</a></p>
</form>

{% elif page == "register" %}
<h1>User Registration </h1>
<form action="" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    
   
    <div>
        <label for="id_name">Name: {{form.name}}</label>
    </div>
    <div>
        <label for="id_email">Email: {{form.email}}</label>
       
    </div>
    <div>
        <label for="id_avatar">Avatar: {{form.avatar}}</label>
    </div>

    <div>
        <label for="id_bio">Bio <br>{{form.bio}}</label>
    </div>

    <div>
        <label for="id_password1">Password {{form.password1}}</label>
        {{form.password1.help_text}}
        <label for="id_password2">Confirm Password {{form.password2}}</label>
    </div>
    <div>
        <label for="id_hackthon_participant">hackthon participant {{form.hackthon_participant}}</label>
    </div>

    <button type="submit">Sign Up</button>
</form>
{% else %}
<h2>how did You get here?</h2>
{% endif %}

{% endblock content %}